<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Homepage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
<body>
{% include 'common/navbar.html' %}
<!-- Three.js Canvas and Scrollable Content -->
<div class="main-scroll-container">
  <div id="threejs-container">
    <canvas id="three-canvas"></canvas>
  </div>

  <div class="content-sections">
    <div class="content-panel" id="content-panel-1">
      <h1>B8300 Engine</h1>
      <p>Our Flagship Engine.</p>
    </div>
    <div class="content-panel" id="content-panel-2">
      <h1>C3160 Engine</h1>
      <p>Our Most-power efficient and cost-effective solution.</p>
    </div>
    <div class="content-panel" id="content-panel-3">
      <h1>B8300mk2 Engine</h1>
      <p>Our Latest Innovation yet</p>
    </div>
  </div>
</div>


<div class="container px-1 py-5  " id="about-view">
    <!-- about 2nd view -->
    <h2 class="pb-2 border-bottom align-center"> Continuing to provide cutting-edge processors</h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-20 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold">Since 2020, ACME leads the market in processor
                advancements with our
                team of innovative engineers</h2>
            <p >
                Our team of visionary engineers has consistently pushed the boundaries of what's possible, developing
                cutting-edge technologies that have redefined performance, efficiency, and reliability. Through
                relentless research and development, we've introduced groundbreaking solutions that cater to the
                evolving needs of businesses and consumers alike. By leveraging state-of-the-art materials, advanced
                design techniques, and a commitment to sustainability, ACME continues to shape the future of computing.
                As we move forward, we remain dedicated to delivering unparalleled advancements that drive the next
                generation of smart devices, enterprise systems, and high-performance applications.
            </p>
        </div>
        <!-- Conference Posts -->
        <div class="row row-cols-1 rows-cols-sm-2 g-4">
            <div class="col">
                <div class="card shadow-sm bg-dark text-white">
                    <img src="{% static 'media/SiggraphConf.jpg' %}" alt="conf" class="img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">ACM SIGGRAPH 2024</h5>
                        <p>
                            At ACM SIGGRAPH 2024, ACME will showcase its groundbreaking research on optimizing
                            processors
                            for deep learning (DL) applications. Our team of experts has made significant strides in
                            developing specialized processor architectures that enhance the efficiency and performance
                            of
                            DL workloads.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm bg-dark text-white">
                    <img src="{% static 'media/AmdConf.webp' %}" alt="conf" class="img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">AMD Conference 2023</h5>
                        <p>
                            innovation,
                            showcasing a new era of high-performance computing.
                            Our engineers unveiled groundbreaking advancements that push the limits of speed,
                            efficiency, and AI-driven optimization.
                            Through cutting-edge fabrication techniques and architectural breakthroughs,
                            we continue to redefine industry standards, empowering developers, enterprises,
                            and consumers with next-generation technology.
                            With a strong focus on sustainability and performance, ACME remains committed to shaping the
                            future of computing, driving innovation that fuels intelligent systems,
                            cloud infrastructures, and immersive digital experiences..
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Conference Posts -->
    </div>
    <!--End of about 2nd view -->
</div>

<!-- Learn more -->

{% include 'common/footer.html' %}

<script type="module">
import * as THREE from 'https://cdn.skypack.dev/three@0.128.0';
import {OBJLoader} from 'https://cdn.skypack.dev/three@0.128.0/examples/jsm/loaders/OBJLoader.js';

document.addEventListener('DOMContentLoaded', async () => {

    const container = document.getElementById('threejs-container');
    const canvas = document.getElementById('three-canvas');
    const scene = new THREE.Scene();
    const ambientLight = new THREE.AmbientLight(0xffffff, 1.5);
    scene.add(ambientLight);
    const directionalLight = new THREE.DirectionalLight(0xFFFFCC, 2);
    directionalLight.position.set(0, 10, 0);
    scene.add(directionalLight);
    const camera = new THREE.PerspectiveCamera(
        40,
        container.clientWidth / container.clientHeight,
        0.1,
        1000
    );
    camera.position.z = 0;
    camera.lookAt(1, 0, -2);
    const renderer = new THREE.WebGLRenderer({
        antialias: true,
        canvas: canvas,
        alpha: true
    });
    renderer.setSize(container.clientWidth, container.clientHeight);
    renderer.setClearColor(0x444444); // Set the background color
    //create floor element
    const floorplane = new THREE.PlaneGeometry(100, 100);
    // Create a texture loader and load the texture
    const floorTexture = new THREE.TextureLoader().load(
        "{% static 'media/objFiles/textures/Metal055A_1K-JPG_Color.jpg' %}"
    );
    //specify Object3d material attributes - set as Phong for lighting
    const floorMaterial = new THREE.MeshPhongMaterial({
        color: 0x222222,
        map: floorTexture,
        shininess: 20,
    });
    const floor = new THREE.Mesh(floorplane, floorMaterial);
    floor.rotation.x = -Math.PI / 2;
    floor.position.y = -1;
    scene.add(floor);


    try {
        // Load the models with textures
        const engine1 = await loadOBJModel("{% static 'media/objFiles/B8300.obj' %}");
        const engine2 = await loadOBJModel("{% static 'media/objFiles/C3160.obj' %}");
        const engine3 = await loadOBJModel("{% static 'media/objFiles/B8300mk2.obj' %}");

        //Center and scale models
        [engine1, engine2, engine3].forEach(engine => {
            const box = new THREE.Box3().setFromObject(engine); // Use Box3 to align models
            const center = box.getCenter(new THREE.Vector3());
            // Get the center of the bounding box and centre to the object
            engine.position.sub(center);
            engine.scale.set(3, 3, 3); // Start with smaller scale, 3D models are different scales, had to adjust manually
            engine.rotateY(Math.PI / 2);
        });

        // Create a carousel group to store obj, easier to rotate elements by calling
        // calling the group element carousel.y += rotation
        const carousel = new THREE.Group();
        engine1.position.set(-4, 0, -1);
        engine2.position.set(5 * Math.cos(Math.PI/3), -0.5, 5 * Math.sin(Math.PI/3));
        engine3.position.set(-4 * Math.cos(2*Math.PI/3), -0.5, -4 * Math.sin(2*Math.PI/3));

        //obj transofrmation nodes - had to adjust rotation manually aswell as scale to match the homepage view
        engine1.rotation.y = (Math.PI / 2);
        engine2.scale.set(0.001, 0.001, 0.001);
        engine3.scale.set(0.002, 0.002, 0.002);

        // Add obj nodes to carousel group
        carousel.add(engine1);
        carousel.add(engine2);
        carousel.add(engine3);

        // Add nodes to root scene
        scene.add(carousel);

        //offset 100 since navbar
        let targetScrollPosition = 10;
        let currentScrollPosition = 100;
        const scrollSections = 3; // Number of objects
        const canvasHeight = container.clientHeight; // Height of the canvas set to 5000 px to match the headings (Pain)
        const sectionHeight = canvasHeight/3; // divide canvas height by number of sections (properly section for the 3 headings)

        // Animate the carousel rotation based on scroll position
        function animate() {
            requestAnimationFrame(animate);
            carousel.rotation.y = window.scrollY / 1000;
            renderer.render(scene, camera);
        }

        animate();
        // Set up scroll event listener so that the carousel rotates around y axis when the user scrolls
        // light node is rotated around the z and x axis to hit the objects in view (try to simulate a light source from camera )
        window.addEventListener('scroll', () => {
            targetScrollPosition = window.scrollY;
            //check if at content panel
            directionalLight.position.z += Math.cos(2*Math.PI) * 100;
            directionalLight.position.x += Math.sin(2*Math.PI) * 100;
            console.log('Current Scroll Position:', targetScrollPosition);
        });
    } catch (error) {
        console.error('Error loading model:', error);
    }
    // Responsive design - resize canvas and camera when window is resized
    window.addEventListener('resize', () => {
        camera.aspect = container.clientWidth / container.clientHeight;
        camera.updateProjectionMatrix(); // re calculate the projection matrix ensure proper render
        renderer.setSize(container.clientWidth, container.clientHeight);
    });
});

// Helper function to load obj files from static directory
function loadOBJModel(path) {
    // Asynchronous function to load the OBJ model, prevent blocking
    return new Promise((resolve, reject) => {
        const loader = new OBJLoader();
        const textureLoader = new THREE.TextureLoader();
        const texture = textureLoader.load(
            "{% static 'media/objFiles/textures/Metal055A_1K-JPG_Roughness.jpg' %}",
            (texture) => {
                texture.wrapS = THREE.RepeatWrapping;
                texture.wrapT = THREE.RepeatWrapping;
                texture.repeat.set(1, 1);
            }
        );
        loader.load(
            path,
            (object) => {
                // set material properties - use phong for diffuse and specular lighting
                const material = new THREE.MeshPhongMaterial({
                    color: 0x262626,
                    shininess: 500,
                    map: texture,
                    side: THREE.DoubleSide,
                    specular: 0x111111,
                    emissive: 0x000000,
                });
                // Apply the material to all meshes in the loaded object
                object.traverse((child) => {
                    if (child.isMesh) {
                        child.material = material;
                        child.material.wireframe = false;
                    }
                });
                resolve(object); // Return the loaded object
            },
            //section handles any error during loading, rejects the promise returning to the calling function
            undefined, // onProgress callback ,if error loading obj this is (error) used passing error obj
            (error) => {
                reject(error);
            }
        );
    });
}
</script>
{% block content %}
{% endblock %}
</body>
</html>