<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="./styles/Homepage/cover.css">
</head>
<body>
<div class=" container-fluid align-text-center text-bg-light bg-dark">
    <header class="d-flex flex-wrap justify-content-center justify-content-md-between py-3 mb-4 border-bottom border-bottom-light ">
        <div class="col-xl-2 ">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="200px" height="50px" viewBox="0 0 500.000000 500.000000"
                 preserveAspectRatio="xMidYMid meet">
                <g transform="translate(-300.000000,500.000000) scale(0.5,-0.5)"
                   fill="#FFFFFF" stroke="none">
                    <path d="M1085 731 c-143 -35 -252 -153 -290 -313 -56 -240 57 -408 275 -408
                    74 0 147 22 206 63 47 32 117 121 129 165 6 21 4 22 -68 22 l-74 0 -24 -37
                    c-37 -56 -100 -86 -173 -81 -52 4 -63 8 -92 40 -41 45 -51 103 -34 193 22 115
                    88 199 181 226 76 23 162 -19 175 -87 l6 -34 74 0 74 0 0 28 c0 94 -74 187
                    -169 216 -56 16 -143 19 -196 7z m186 -42 c54 -19 100 -58 121 -106 23 -51 16
                    -66 -28 -61 -20 2 -33 12 -42 30 -20 43 -79 86 -126 90 -142 15 -271 -105
                    -295 -275 -18 -125 9 -196 89 -237 79 -40 183 -20 267 53 29 26 70 39 79 26
                    10 -17 -30 -72 -78 -104 -73 -51 -151 -73 -222 -63 -152 20 -227 123 -213 295
                    18 220 154 360 353 362 34 1 76 -4 95 -10z"/>
                    <path d="M224 463 c-75 -148 -153 -299 -174 -338 -59 -112 -62 -105 31 -105
                    l80 0 36 80 36 80 132 0 133 0 12 -80 12 -80 83 0 83 0 -8 33 c-5 17 -34 177
                    -66 355 l-57 322 -98 0 -98 0 -137 -267z m293 219 c6 -4 26 -88 43 -187 17
                    -99 35 -198 40 -220 22 -103 31 -153 33 -185 2 -32 -1 -35 -26 -38 -40 -5 -55
                    12 -68 79 -16 84 -27 89 -174 89 -85 0 -127 -4 -139 -13 -10 -8 -35 -45 -56
                    -83 -30 -57 -42 -70 -65 -72 -15 -2 -31 0 -36 5 -10 10 42 123 66 143 8 7 15
                    17 15 23 0 12 50 120 59 127 3 3 39 73 80 155 40 83 80 158 89 168 11 12 30
                    17 71 17 31 0 61 -4 68 -8z"/>
                    <path d="M397 573 c-28 -32 -128 -244 -125 -266 4 -31 44 -47 116 -47 72 0
                    122 20 122 50 0 53 -34 236 -47 257 -18 27 -44 30 -66 6z m57 -120 c9 -65 19
                    -126 22 -135 4 -14 -6 -17 -86 -20 -49 -2 -90 -1 -90 2 -1 10 125 269 131 269
                    3 1 13 -52 23 -116z"/>
                    <path d="M1600 727 c0 -7 -111 -665 -115 -684 -5 -22 -3 -23 70 -23 41 0 75 3
                    75 8 0 4 16 98 35 210 19 112 35 215 35 228 0 53 16 19 38 -80 12 -57 36 -163
                    53 -235 l31 -131 52 0 c51 0 52 1 74 42 60 120 242 430 241 413 0 -11 -17
                    -118 -38 -238 l-37 -217 72 0 c71 0 73 1 78 27 3 16 28 165 56 333 28 168 53
                    315 57 328 5 22 4 22 -90 22 l-95 0 -138 -240 c-76 -132 -141 -240 -144 -240
                    -3 0 -31 108 -63 240 l-59 240 -94 0 c-52 0 -94 -1 -94 -3z m159 -51 c6 -8 11
                    -18 10 -22 -1 -5 0 -16 3 -24 8 -21 66 -258 73 -300 7 -43 50 -110 70 -110 8
                    0 26 15 40 34 23 30 144 234 181 306 8 14 28 48 46 75 31 47 36 50 82 53 27 2
                    52 0 57 -5 9 -9 1 -65 -46 -343 -9 -52 -20 -131 -26 -174 -9 -83 -27 -116 -61
                    -116 -27 0 -33 26 -19 84 6 28 16 76 21 106 5 30 11 64 13 75 24 106 16 185
                    -19 185 -19 0 -60 -48 -95 -109 -14 -25 -43 -75 -65 -111 -22 -36 -46 -81 -54
                    -100 -23 -59 -69 -120 -90 -120 -26 0 -48 45 -56 112 -4 29 -9 57 -12 63 -3 5
                    -9 27 -13 50 -15 81 -43 171 -61 197 -16 23 -22 26 -38 16 -26 -17 -37 -44
                    -50 -134 -6 -43 -16 -93 -21 -110 -5 -17 -9 -47 -9 -67 0 -55 -22 -126 -41
                    -132 -9 -3 -24 -2 -34 1 -15 6 -17 16 -12 61 3 30 10 60 14 66 5 7 10 28 11
                    47 2 19 7 55 12 80 10 46 13 65 30 185 12 83 30 177 37 188 8 13 110 8 122 -7z"/>
                    <path d="M2447 383 c-31 -192 -57 -351 -57 -355 0 -5 108 -8 239 -8 268 0 243
                    -8 256 78 l7 42 -167 0 -167 0 6 32 c3 18 9 56 13 85 l6 53 156 0 157 0 10 66
                    10 65 -154 -3 -154 -3 6 35 c3 19 9 59 12 88 l7 52 167 0 168 0 7 43 c3 23 9
                    50 11 60 5 16 -11 17 -238 17 l-243 0 -58 -347z m485 299 c4 -4 3 -13 -1 -21
                    -7 -10 -43 -14 -149 -15 -118 -1 -143 -4 -159 -19 -43 -38 -60 -174 -27 -207
                    16 -16 38 -19 139 -22 112 -3 120 -4 120 -23 0 -19 -8 -20 -130 -25 -176 -7
                    -175 -6 -191 -150 -6 -48 -4 -57 16 -75 19 -17 37 -20 152 -21 137 -2 171 -12
                    134 -40 -26 -18 -395 -19 -402 -1 -2 7 1 35 7 62 10 50 17 88 38 219 6 37 13
                    71 15 75 2 3 7 35 10 70 4 36 8 67 10 70 2 3 7 28 11 56 8 62 17 73 63 77 64
                    5 337 -3 344 -10z"/>
                </g>
            </svg>
        </div>

        <nav class="navbar  col-md-3 col-5">
            <div class="row gx-1 " style="gap: 12px;">
                <input class="col form-control" type="search" placeholder="Search for our products"
                       aria-label="Search for our products">
                <button class="col btn btn-outline-success my-sm-0 col-4" type="submit">Submit</button>
            </div>
        </nav>

        <ul class="nav col-12 col-md-auto mb-5 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2">About</a></li>
            <li><a href="#" class="nav-link px-2">Services</a></li>
            <li><a href="#" class="nav-link px-2">Contact</a></li>
            <li><a href="#" class="nav-link px-2">Product Catalogue</a></li>
        </ul>

        <div class="col-md-2 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
    </header>

    <!-- Three js showcase here first view  -->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column bg-dark text-light">
        <main class="px-3">
            <h1>Our innovation</h1>
            <p class="lead">ACME Manufacturing Corp develops state of the art </p>
        </main>
    </div>
</div>


<div class="container px-1 py-5 ">
    <!-- about 2nd view -->
    <h2 class="pb-2 border-bottom align-center"> Continuing to provide cutting-edge processors</h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-20 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Since 2020, ACME leads the market in processor advancements with our
                team of innovative engineers</h2>
            <p>
                Our team of visionary engineers has consistently pushed the boundaries of what's possible, developing
                cutting-edge technologies that have redefined performance, efficiency, and reliability. Through
                relentless research and development, we've introduced groundbreaking solutions that cater to the
                evolving needs of businesses and consumers alike. By leveraging state-of-the-art materials, advanced
                design techniques, and a commitment to sustainability, ACME continues to shape the future of computing.
                As we move forward, we remain dedicated to delivering unparalleled advancements that drive the next
                generation of smart devices, enterprise systems, and high-performance applications.
            </p>
        </div>
        <!-- Conference Posts -->
        <div class="row row-cols-1 rows-cols-sm-2 g-4">
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>

                    <div class="card-body">
                        <h5 class="card-title">ACM SIGGRAPH 2024</h5>
                        <p>
                            At ACM SIGGRAPH 2024, ACME will showcase its groundbreaking research on optimizing
                            processors
                            for deep learning (DL) applications. Our team of experts has made significant strides in
                            developing specialized processor architectures that enhance the efficiency and performance
                            of
                            DL workloads.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <h5 class="fw-semibold mb-0 text-body-emphasis">AMD Conference 2023 </h5>
                        <p class="text-body-secondary"> ACME once again demonstrated its leadership in processor
                            innovation,
                            showcasing a new era of high-performance computing.
                            Our engineers unveiled groundbreaking advancements that push the limits of speed,
                            efficiency, and AI-driven optimization.
                            Through cutting-edge fabrication techniques and architectural breakthroughs,
                            we continue to redefine industry standards, empowering developers, enterprises,
                            and consumers with next-generation technology.
                            With a strong focus on sustainability and performance, ACME remains committed to shaping the
                            future of computing, driving innovation that fuels intelligent systems,
                            cloud infrastructures, and immersive digital experiences..</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Conference Posts -->
    </div>
    <!--End of about 2nd view -->
</div>

<!-- Learn more -->

<!-- footer -->
<div class="container">
    <footer class="py-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2024 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#twitter"/>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#instagram"/>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook"/>
                    </svg>
                </a></li>
            </ul>
        </div>
    </footer>
</div>
{% block content %}
{% endblock %}
</div>
</body>
</html>