<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<body>
{% include 'common/navbar.html' %}

<!-- Three js showcase here first view  -->
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column bg-dark text-light">
    <main class="px-3">
        <h1>Our innovation</h1>
        <p class="lead">ACME Manufacturing Corp develops state of the art </p>
        <div class="col" id="threejs-container" style="width: 100%; height: 500px;">


        </div>
    </main>
</div>

<div class="container px-1 py-5 ">
    <!-- about 2nd view -->
    <h2 class="pb-2 border-bottom align-center"> Continuing to provide cutting-edge processors</h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-20 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Since 2020, ACME leads the market in processor advancements with our
                team of innovative engineers</h2>
            <p>
                Our team of visionary engineers has consistently pushed the boundaries of what's possible, developing
                cutting-edge technologies that have redefined performance, efficiency, and reliability. Through
                relentless research and development, we've introduced groundbreaking solutions that cater to the
                evolving needs of businesses and consumers alike. By leveraging state-of-the-art materials, advanced
                design techniques, and a commitment to sustainability, ACME continues to shape the future of computing.
                As we move forward, we remain dedicated to delivering unparalleled advancements that drive the next
                generation of smart devices, enterprise systems, and high-performance applications.
            </p>
        </div>
        <!-- Conference Posts -->
        <div class="row row-cols-1 rows-cols-sm-2 g-4">
            <div class="col">
                <div class="card shadow-sm bg-dark text-white">
                    <img src="{% static 'media/SiggraphConf.jpg' %}" alt="conf" class="img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">ACM SIGGRAPH 2024</h5>
                        <p>
                            At ACM SIGGRAPH 2024, ACME will showcase its groundbreaking research on optimizing
                            processors
                            for deep learning (DL) applications. Our team of experts has made significant strides in
                            developing specialized processor architectures that enhance the efficiency and performance
                            of
                            DL workloads.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm bg-dark text-white">
                    <img src="{% static 'media/AmdConf.webp' %}" alt="conf" class="img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">AMD Conference 2023</h5>
                        <p>
                            innovation,
                            showcasing a new era of high-performance computing.
                            Our engineers unveiled groundbreaking advancements that push the limits of speed,
                            efficiency, and AI-driven optimization.
                            Through cutting-edge fabrication techniques and architectural breakthroughs,
                            we continue to redefine industry standards, empowering developers, enterprises,
                            and consumers with next-generation technology.
                            With a strong focus on sustainability and performance, ACME remains committed to shaping the
                            future of computing, driving innovation that fuels intelligent systems,
                            cloud infrastructures, and immersive digital experiences..
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Conference Posts -->
    </div>
    <!--End of about 2nd view -->
</div>

<!-- Learn more -->

{% include 'common/footer.html' %}

<script src="{% static 'js/Cards.js' %}"></script>

{% block content %}
{% endblock %}
</body>
</html>