{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}User Management{% endblock %}</title>
    
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <!-- Custom CSS -->
    {% comment %} <link href="{% static 'App/css/styles.css' %}" rel="stylesheet"> {% endcomment %}
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% comment %} {% include 'user_manager/partials/navbar.html' %} {% endcomment %}
    
    <main class="container mt-4">
        {% bootstrap_messages %}
        
        {% block content %}{% endblock %}
    </main>

    {% block javascript %}{% endblock %}
</body>
</html>