{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!-- Authors
Jahziel Belmonte,
Thomas viard
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/Dashboard.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/Dashboard.js' %}"></script>
    <script src="{% static 'js/LeftMenu.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>
<div class="nav sticky-top shadow gap-3">

    <nav class="navbar navbar-expand-md ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNav"
                aria-controls="#collapsibleNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-5">
                <li class="nav-item">
                    <img class="nav-img" src="{% static 'media/ACMELogo.png' %}" alt="Factory Tracking System"
                         style="height: 50px;">
                    {# search form  #}
                <li class="nav-item">
                    <form class="d-flex" id="search-container" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                               name="q">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                {# user profile  #}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle nav-item-btn" type="button" id="userDropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            {% if user.is_authenticated %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FFFFFF"
                                     class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path fill-rule="evenodd"
                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                </svg>
                                {{ user.username }}
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url "App" %}">Homepage</a>
                            </li>
                            <hr class="dropdown-divider">
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'Dashboard' %}">My Dashboard</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'Login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div id="left-menu">
    <ul>
        <li class="has-sub border-bottom">
            <a href="{% url 'Dashboard' %}">
                <span>Dashboard</span>
            </a>
        </li>
        <li class="has-sub">
            <a href="#">
                <span>User Registration</span>
            </a>
        </li>
        <li class="has-sub">
            <a href="#">
                <span>User Management</span>
            </a>
        </li>
        <li class="has-sub">
            <a href="#">
                <span>Machinery List page</span>
            </a>
        </li>
        <li class="has-sub">
            <a href="#">
                <span>Fault Case List page</span>
            </a>
        </li>
    </ul>
</div>

<div id="main-content">
    <div id="container">
        <div class="row mx-auto border-bottom d-flex ">
            <div class="col-8">
                {# Container for ChartJS #}
                <div class="container bg-white text-dark" id="chartjs-canvas">
                    <h2>Machine Performance</h2>
                    <canvas id="downtimechart" width="1000" height="400">

                    </canvas>
                </div>
            </div>
            <div class="col">
                {# Container Legend for ChartJs #}
                <div class="dropdown" id="legend">
                    <h2>Legend</h2>
                    {# for items in machinery_fault objects #}
                    {# display id in items as label, list, different color for each #}
                    <ul id="legendlist">

                    </ul>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <!-- Manager based view, just using admin atm change to is_manager -->
            {% if user.is_superuser %}
                <div class="col-4">
                <h2>Manager view</h2>
                {# Container for most common fault Machinery #}
                <div class="container mx-auto flex-end column left-20px">
                    <h3>Add machinery</h3>
                    <!-- form to add machines -->
                    <form id="add-machine-form" method="post" enctype="multipart/form-data"
                          action="{% url 'Add_Machinery' %}">
                        {% csrf_token %}
                        <label for="machine_name">Machine Name:</label>
                        <input type="text" id="machine_name" name="machine_name" required>
                        <br>
                        <label for="machine_type">Machine Type:</label>
                        <input type="text" id="machine_type" name="machine_type" required>
                        <br>
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" required>
                        <br>
                        <label for="status">status:</label>
                        <select id="status" name="status">
                            <option value="OK">OK</option>
                            <option value="WARNING">WARNING</option>
                            <option value="FAULT">FAULT</option>
                        </select>
                        <br>
                        <label for="collections"> Collections: </label>
                        <input type="text" id="Collections" name="Collections" required>
                        <br>
                        <label for="assigned-technicians"> assigned-technicians: </label>
{#                        {% for obj in technician %}#}
                        <br>
                        <label for="assigned-repair"> assigned-repair: </label>
                        <input type="text" id="assigned-repair" name="assigned-repair" required>
                        <input type="submit" value="Add Machine">
                    </form>
                </div>
            {% else %}
                <div class="col-4">
                    <h2>Assigned Machines STATUS:</h2>
                    {# Container Scrollable for machinery summary #}
                </div>
            {% endif %}
            </div>
        </div>

        {% include 'common/footer.html' %}
</body>
</html>