{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

</head>
<body>
{% include 'common/navbar.html'%}
<!-- # Authors  Jahziel -->
<div class="container">
    <div class="row">
        <form id="login-form" method="post" action="/Login/">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            {% if success %}
                <p style="color: green;">{{ success }}</p>
            {% endif %}
        </form>
    </div>
</div>
{% include 'common/footer.html' %}
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/Login.js' %}"></script>
</body>
</html>