:root {
    --primary-color: #ffffff;
    --secondary-color: #1a1a1a;
    --text-color: #ffffff;
    --accent-color: #333333;
    --link-hover-color: rgba(97, 246, 219, 0.94);
}

body {
    background-color: var(--accent-color);
    padding: 0;
    margin: 0 auto !important;
}

.nav {
    background-color: var(--secondary-color);
    border-bottom: 1px solid #e6ecf5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 0;
    max-height: 100px;
}
.nav-img {
    max-width: 100px;
    max-height: 50px;
}
.navbar{
    width: 100%;
    padding: 0 1rem;
    gap: 2rem  !important;
}
.navbar-collapse{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
#search-container{
    width: 800px;
    max-width: 800px;
    max-height: 50px;
    margin : 0 auto;
}
.form-control:hover {
    box-shadow: none;
    border-color: #4dabf7 !important ;
    animation: ease 0.3s;
}
.form-control {
    border: 3px solid #e6ecf5;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 16px;
    color: var(--text-color);
}
.btn {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--text-color);
}
.btn:hover {
    background-color: var(--link-hover-color);
    color: var(--text-color);
}

#left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    background-color: var(--primary-color);
    overflow-y: auto;
    height: 100vh;
    border-right: 1px solid #e6ecf5;
    margin-top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
    z-index: 2;
}
.has-sub{
    position: relative;
    text-align: start;
    font-size: 18px !important;
    padding: 0.5rem 0 !important;
}

#main-content {
    min-height: calc(100vh - 100px);
    clear: both;
}

#page-container.small-left-menu,
#header .header-left.small-left-menu {
    padding-left: 100px;
}


#left-menu.small-left-menu li.has-sub::after {
    content: '';
}

#left-menu.small-left-menu li.has-sub ul {
    position: fixed;
    width: 280px;
    z-index: 123;
    height: 0;
    left: 69px;
    padding-left: 15px;
}

@media only screen and (max-width: 992px) {
    #left-menu,
    #logo {
        width: 60px;
    }

    #page-container,
    #header .header-left {
        padding-left: 0px;
    }

    #toggle-left-menu, .big-logo {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    #left-menu li.has-sub::after {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transform: rotate(0deg);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #left-menu li.has-sub.rotate:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

}