{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="{% static 'media/ACMELogo.png' %}" alt="Factory Tracking System" style="height: 100px;">
                <div class="social-icons">
                    <a href="#">f</a>
                    <a href="#">in</a>
                    <a href="#">tw</a>
                </div>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="{% url 'Contact' %}" class="nav-link px-2">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Factory Machinery Tracking System. All Rights Reserved.</p>
        </div>
    </div>
</footer>