{% load static %}
<style>

    #left-menu {
        position: fixed;
        top: 0;
        width: 150px;
        background-color: var(--primary-color);
        overflow-y: auto;
        height: 100vh;
        border-right: 1px solid #e6ecf5;
        margin-top: 0px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: left 0.3s ease-in-out;
        overflow-x: hidden;
        z-index: 20;
    }

    #left-menu:hover {
        left: 0; /* Reveal the menu when hovering */
    }

    .has-sub {
        position: relative;
        text-align: start;
        font-size: 18px !important;
        padding: 0.5rem 0 !important;
    }

    #main-content {
        transition: margin-left 0.3s ease-in-out;
        min-height: calc(100vh - 100px);
        margin-left: 150px;
        left: 150px;
        clear: both;
    }


    #left-menu.small-left-menu li.has-sub::after {
        content: '';
    }

    #left-menu.small-left-menu li.has-sub ul {
        position: fixed;
        width: 100px;
        z-index: 123;
        height: 0;
        left: 10px;
        padding-left: 15px;
    }



</style>
<div id="left-menu">
    <ul>
        <li class="has-sub border-bottom">
            <a href="{% url 'Dashboard' %}">
                <span>Dashboard</span>
            </a>
        </li>

        <li class="has-sub">
            <a href="{% url 'user_registration' %}">
                <span>User Registration</span>
            </a>
        </li>
        <li class="has-sub">
            <a href="#">
                <span>User Management</span>
            </a>
        </li>
        <li class="has-sub">
            <a href="{% url 'MachineryList' %}">
                <span>Machinery List page</span>
            </a>
        </li>
        <li class="has-sub">
            <a href="#">
                <span>Fault Case List page</span>
            </a>
        </li>
    </ul>
</div>

<script src="{% static 'js/LeftMenu.js' %}"></script>